* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.quiz-card {
  width: 40rem;
}

.card-title {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
}

.answer-card:hover {
  cursor: pointer;
  background-color: #e9ecef85;
}

.main-btn {
  background: #57c7a2;
  background: linear-gradient(
    163deg,
    rgba(87, 199, 162, 1) 23%,
    rgba(173, 83, 237, 1) 100%
  );
  color: white;
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress {
  justify-content: center;
  align-items: center;
  padding: 15px;
  --bs-progress-border-radius: none;
}

.progress-bar-fill {
  width: 0%;
  height: 5px;
  background: #9574d8;
  border-radius: 8px;
  transition: width 0.3s;
}

.correct {
  border: solid 2px #57c7a29d;
}

.wrong {
  background-color: #dadde09d;
  color: #ec5a66 !important;
}

.d-none {
  display: none;
}

.no-pointer {
    pointer-events: none;
}

.is-inactive {
    background-color: #dadde09d !important;
    opacity: 0.6;
    filter: grayscale(1);
}

main canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}